doctype html
html
  head
    title Great Science For All - 501(c)(3) Non-Profit
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:300,400,700')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel="stylesheet", href="/css/froala.css")
    link(rel="stylesheet", href="/css/index.css")
  body
    section#header.fdb-block.bg-dark.fdb-viewport(style='background-image: url(/img/GSFABanner.png);')
      .container.align-items-center.justify-content-center.d-flex
        .row.justify-content-center.text-center
          .col-12.header-content
            h1 Great Science
              br
              | For All
            p.mt-2
              a.btn#button1(href='') Donate
              a.btn-link#button2(href='mailto:drheidi@gsfa.org') Contact Us
    section#theGoal.fdb-block.prim-bg
      .container
        .row
          .col-12.text-left
            p.text-h3
              | The goal of Great Science For All® (GSFA) is to provide science educational opportunities for challenged
              | socio-economic communities and children in grades Pre-K through 5th grade.
              br.hidden-sm-up
              br.hidden-sm-up
              | The mission of this non-profit
              | is to close the achievement gap and provide future career opportunities for these children in the Science,
              | Technology, Engineering, Innovation, &amp; Mathematic (STEIM) fields.
    section#aboutUs.fdb-block
      .container
        .row
          .col.text-center
            h1 About Us
            .row.text-left.pt-4
              .col-12.col-md-6
                p.text-h3
                  span.bold Great Science For All® was created in the expectation that thoughtful
                    | people all over the world are coming to the realization that science, delivered effectively,
                    | passionately and with all the cognitive requirements of age appropriate learning is needed now more than ever.
                  br
                  br
                  | Science, at its best, is the great advancement of hope and aspirations.
                  | But for that dream to be fulfilled, there must be a far better opportunity for all.
                  | Thus, Great Science For All exists to provide program and learning opportunities for
                  | children who do not otherwise have full and fair opportunity to advance their thinking,
                  | their powerful creative impulse, & their natural curiosity in an inquiry based hands-on
                  | science learning model.
              .col-12.col-md-6
                p.text-h3
                  | GSFA is organized exclusively for charitable educational and scientific purposes,
                  | it is recognized as a 501c(3) by the United States government.
                  br
                  br
                  | In creating GSFA we are seeing
                  | that on the one hand, there are many interested individuals who want to see today’s children
                  | enjoy great science. And, on the other hand, in an era of frequently uncertain funding arrangements,
                  | there are too many children whose institutions need help to support a confident and tested source of
                  | science services.
                  br
                  br
                  | We encourage your many inquiries and questions of all manner.
                  | We will work diligently with special funders to provide targeted science programs for the
                  | pre-K to 5th grade level.
    section#BoD.fdb-block.team-2.prim-bg
      .container
        .row.text-center.justify-content-center
          .col-7
            h1 Board of Directors
        .row-50
        .row.text-center.justify-content-center.pb-3
          .col-sm-4.m-sm-auto.board-member-col
            img.img-fluid.board-member(alt='image', src='/img/BoDPlaceholder.png')
            h2 Dr. Christine Broadbridge
            p Yale & Southern Connecticut State University Professor
          .col-sm-4.m-sm-auto.board-member-col
            img.img-fluid.board-member(alt='image', src='/img/BoDPlaceholder.png')
            h2 Dr. Norris Haynes
            p Yale & Southern Connecticut State University Professor
              br
          .col-sm-4.m-sm-auto.board-member-col
            img.img-fluid.board-member(alt='image', src='/img/BoDPlaceholder.png')
            h2 Alexis Cort
            p Computer Scientist, Serial Entrepreneur
        .row.text-center.justify-content-center
          .col-sm-4.m-sm-auto.board-member-col
            img.img-fluid.board-member(alt='image', src='/img/BoDPlaceholder.png')
            h2 Josh
              br
              | Teplitzky
            p Lawyer & Accountant
              br
          .col-sm-4.m-sm-auto.board-member-col
            img.img-fluid.board-member(alt='image', src='/img/BoDPlaceholder.png')
            h2 Dr. Reginald Mayo
            p Inner City School Superintendent For 30 Years
    section#fundingOps.fdb-block
      .container
        .row.text-center
          .col-12
            h1 Funding Opportunities
        .row.text-left.mt-5
          .col-12.col-sm-6.col-lg-3.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Undesignated Scholarship Fund
                p Funds offset costs for summer and holiday hands-on science camps or individual cost program participation.
                  br
                  br
                  span.bold Suggested Contribution: $100
          .col-12.col-sm-6.col-lg-3.pt-3.pt-sm-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Fund Lab Coats
                p Fund lab coats for need-based children. Lab coats are a source of great pride for students.
                  br
                  br
                  span.bold Min. Suggested Contribution: $100
          .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Fund One Program
                p Funds will cover the cost of one specialty hands-on science class.
                  br
                  br
                  span.bold Suggested Contribution: $175
          .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Fund Science Curriculum Units
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                  br
                  br
                  span.bold Suggested Contribution: $595 Per Unit
        .row.text-left.pt-3.pt-lg-5
          .col-12.col-sm-6.col-lg-3.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Science In The Classroom
                p Fund science in the classroom for one year.
                  br
                  br
                  span.bold Suggested Contribution: $10,000
          .col-12.col-sm-6.col-lg-3.pt-3.pt-sm-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Science Solution Sponsor - Individual Level
                p Become a Science Solution Sponsor  at an individual level.
                  br
                  br
                  span.bold Suggested Contribution: $5000
          .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong Science Solution Sponsor - Corporate Level
                p Become a Science Solution Sponsor at a Corporate Level.
                  br
                  br
                  span.bold Suggested Contribution: $10,000
          .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0.funding-op-col
            .row
              .col-3
                img.img-fluid(alt='image', src='/img/BoDPlaceholder.png')
              .col-9
                h3.funding-op-title
                  strong School Sponsor
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                  br
                  br
                  span.bold Suggested Contribution: $100,000
    section#FAQ.fdb-block.prim-bg
      // MAKE SURE WE BLEED THE BACKGROUND IMAGE INTO THE BLUE
      .container
        .row.justify-content-center
          .col-12.text-center
            h1 FAQ
        .row.text-center.mt-5
          .col-12.col-sm-4.faq-item
            img.fdb-icon(alt='image', src='/img/BoDPlaceholder.png')
            h3
              strong Who Should Donate?
            p
              | Anyone, privately, through a foundation or through a corporate source
              | or grant partnership who wants to advance science education among targeted profiles of
              | challenged communities, institutions or individuals.
          .col-12.col-sm-4.pt-4.pt-sm-0.faq-item
            img.fdb-icon(alt='image', src='/img/BoDPlaceholder.png')
            h3
              strong Who should apply for funding?
            p
              | GSFA is broadly designed to assist institutions though it does accept individual need based  application.
          .col-12.col-sm-4.pt-4.pt-sm-0.faq-item
            img.fdb-icon(alt='image', src='/img/BoDPlaceholder.png')
            h3
              strong How will the process work?
            p
              | Funds raised will be  applied to the costs of Hands-on Science programing including but not limited to Little Scientists, and Great Scientists programs.
    footer.fdb-block.footer-small.bg-dark
      .container
        .row.align-items-center
          .col-12.col-md-7
            ul.nav.justify-content-center.justify-content-md-start
              li.nav-item
                a.nav-link.active(href='#header') Home
              li.nav-item
                a.nav-link(href='https://www.froala.com') The Goal
              li.nav-item
                a.nav-link(href='https://www.froala.com') About Us
              li.nav-item
                a.nav-link(href='https://www.froala.com') Our Board
              li.nav-item
                a.nav-link(href='https://www.froala.com') Funding
              li.nav-item
                a.nav-link(href='https://www.froala.com') FAQ
          .col-12.col-md-5.mt-4.mt-md-0.text-center.text-md-right.footer-final
            | © 2017 Great Science For All, 501 (c) (3) Non-Profit Organization. All Rights Reserved
