/*
Great Science For All Website
Built for Little Scientists by Abhi Nayar | Pre-Alpha Ventures
Copyright 2017, No part of this code may be copied without permission for profit.

Fonts In Use:
  Circular Std. Bold
  Circular Std. Book Medium

Colors:
  Blue : #000489
  Yellow : #ffbd00
  White : #fff
  Off White: #fafafa
  Dark : #333
*/

/* Generic Template Styles */
.bold {
  font-weight: 700;
} .light {
  font-weight: 300;
} .italic {
  font-style: italic;
} .main {
  font-weight: bold;
} .sub {
  font-weight: normal;
} .block {
  display: block;
} .inline-block {
  display: inline-block;
} .inline {
  display: inline;
} .prim {
  color: #000489;
} .sec {
  color: #ffbd00;
}

.bg-center {
  background-position: center center;
} .bg-left {
  background-position: left center;
} .bg-right {
  background-position: right center;
} .bg-fixed {
  background-attachment: fixed;
} .bg-scroll {
  background-attachment: scroll;
} .bg-cover {
  background-size: cover;
} .bg-contain {
  background-size: contain;
} .bg-no-repeat {
  background-repeat: no-repeat;
}

div, p, li, span, a{
  font-size: 16px;
} h1, h1 span {
  font-size: 72px;
}

/* Code your site for min-width: 0px first */
* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  display: block;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  max-width: 100%;
  line-height: 1.4em;
  background-color: #fff;
  font-family: 'Montserrat', 'Avenir', 'Arial', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

/* MAIN LAYOUT */
